tags/v1.0.5_070927/support/test-cases/wsdl-services/StockQuotesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.gama-system.com/webservices" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.gama-system.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.gama-system.com/webservices">
      <s:element name="GetStocksXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetStocksXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStocksXMLSchemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByValueXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByValueXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByValueXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByDateXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesByDateXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByDateXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestStockDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestStockValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValuesByDateTimeXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockValuesByDateTimeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockValuesByDateTimeXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndicesXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetIndicesXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndicesXMLSchemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByValueXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByValueXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByValueXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByDateXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesByDateXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByDateXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValuesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValuesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestIndexDailyValuesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIndexDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexDailyValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexDailyValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestIndexValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIndexValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValuesByDateTimeXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexValuesByDateTimeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexValuesByDateTimeXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStocksXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetStocksXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetStocksXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesByValueXML" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesByValueXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesByDateXML" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesByDateXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesXML" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockDailyValuesXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestStockDailyValuesXML" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestStockDailyValuesXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockDailyValue" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockDailyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestStockDailyValue" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestStockDailyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestStockValue" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestStockValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockValue" />
  </wsdl:message>
  <wsdl:message name="GetStockValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockValuesByDateTimeXML" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockValuesByDateTimeXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndicesXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndicesXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByValueXML" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByValueXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByDateXML" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByDateXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesXML" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValuesXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValuesXML" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValuesXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValue" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexDailyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValue" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestIndexValue" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestIndexValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexValue" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexValuesByDateTimeXML" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexValuesByDateTimeXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaHttpGetIn" />
  <wsdl:message name="GetStocksXMLSchemaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="dcmLow" type="s:string" />
    <wsdl:part name="dcmHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateLow" type="s:string" />
    <wsdl:part name="strDateHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strSegment" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strSegment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateTimeLow" type="s:string" />
    <wsdl:part name="strDateTimeHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaHttpGetIn" />
  <wsdl:message name="GetIndicesXMLSchemaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="dcmLow" type="s:string" />
    <wsdl:part name="dcmHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateLow" type="s:string" />
    <wsdl:part name="strDateHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpGetIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateTimeLow" type="s:string" />
    <wsdl:part name="strDateTimeHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaHttpPostIn" />
  <wsdl:message name="GetStocksXMLSchemaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="dcmLow" type="s:string" />
    <wsdl:part name="dcmHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateLow" type="s:string" />
    <wsdl:part name="strDateHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strSegment" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strSegment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strStock" type="s:string" />
    <wsdl:part name="strDateTimeLow" type="s:string" />
    <wsdl:part name="strDateTimeHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaHttpPostIn" />
  <wsdl:message name="GetIndicesXMLSchemaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="dcmLow" type="s:string" />
    <wsdl:part name="dcmHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateLow" type="s:string" />
    <wsdl:part name="strDateHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpPostIn">
    <wsdl:part name="strStockExchange" type="s:string" />
    <wsdl:part name="strIndex" type="s:string" />
    <wsdl:part name="strDateTimeLow" type="s:string" />
    <wsdl:part name="strDateTimeHigh" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="StockQuotesSoap">
    <wsdl:operation name="GetStocksXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <wsdl:input message="tns:GetStocksXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetStocksXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByValueXMLSoapIn" />
      <wsdl:output message="tns:GetStockDailyValuesByValueXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByDateXMLSoapIn" />
      <wsdl:output message="tns:GetStockDailyValuesByDateXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all stock values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesXMLSoapIn" />
      <wsdl:output message="tns:GetStockDailyValuesXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published stock values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValuesXMLSoapIn" />
      <wsdl:output message="tns:GetLatestStockDailyValuesXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock on the given date.</documentation>
      <wsdl:input message="tns:GetStockDailyValueSoapIn" />
      <wsdl:output message="tns:GetStockDailyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValueSoapIn" />
      <wsdl:output message="tns:GetLatestStockDailyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockValueSoapIn" />
      <wsdl:output message="tns:GetLatestStockValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock at the given time.</documentation>
      <wsdl:input message="tns:GetStockValueSoapIn" />
      <wsdl:output message="tns:GetStockValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockValuesByDateTimeXMLSoapIn" />
      <wsdl:output message="tns:GetStockValuesByDateTimeXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <wsdl:input message="tns:GetIndicesXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetIndicesXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByValueXMLSoapIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByValueXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByDateXMLSoapIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByDateXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all index values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesXMLSoapIn" />
      <wsdl:output message="tns:GetIndexDailyValuesXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published index values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValuesXMLSoapIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValuesXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index on the given date.</documentation>
      <wsdl:input message="tns:GetIndexDailyValueSoapIn" />
      <wsdl:output message="tns:GetIndexDailyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValueSoapIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexValueSoapIn" />
      <wsdl:output message="tns:GetLatestIndexValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index at the given time.</documentation>
      <wsdl:input message="tns:GetIndexValueSoapIn" />
      <wsdl:output message="tns:GetIndexValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexValuesByDateTimeXMLSoapIn" />
      <wsdl:output message="tns:GetIndexValuesByDateTimeXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpGet">
    <wsdl:operation name="GetStocksXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <wsdl:input message="tns:GetStocksXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetStocksXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByValueXMLHttpGetIn" />
      <wsdl:output message="tns:GetStockDailyValuesByValueXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByDateXMLHttpGetIn" />
      <wsdl:output message="tns:GetStockDailyValuesByDateXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all stock values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesXMLHttpGetIn" />
      <wsdl:output message="tns:GetStockDailyValuesXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published stock values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValuesXMLHttpGetIn" />
      <wsdl:output message="tns:GetLatestStockDailyValuesXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock on the given date.</documentation>
      <wsdl:input message="tns:GetStockDailyValueHttpGetIn" />
      <wsdl:output message="tns:GetStockDailyValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValueHttpGetIn" />
      <wsdl:output message="tns:GetLatestStockDailyValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockValueHttpGetIn" />
      <wsdl:output message="tns:GetLatestStockValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock at the given time.</documentation>
      <wsdl:input message="tns:GetStockValueHttpGetIn" />
      <wsdl:output message="tns:GetStockValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockValuesByDateTimeXMLHttpGetIn" />
      <wsdl:output message="tns:GetStockValuesByDateTimeXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <wsdl:input message="tns:GetIndicesXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetIndicesXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByValueXMLHttpGetIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByValueXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByDateXMLHttpGetIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByDateXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all index values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesXMLHttpGetIn" />
      <wsdl:output message="tns:GetIndexDailyValuesXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published index values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValuesXMLHttpGetIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValuesXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index on the given date.</documentation>
      <wsdl:input message="tns:GetIndexDailyValueHttpGetIn" />
      <wsdl:output message="tns:GetIndexDailyValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValueHttpGetIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexValueHttpGetIn" />
      <wsdl:output message="tns:GetLatestIndexValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index at the given time.</documentation>
      <wsdl:input message="tns:GetIndexValueHttpGetIn" />
      <wsdl:output message="tns:GetIndexValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexValuesByDateTimeXMLHttpGetIn" />
      <wsdl:output message="tns:GetIndexValuesByDateTimeXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpPost">
    <wsdl:operation name="GetStocksXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted stock information is in.</documentation>
      <wsdl:input message="tns:GetStocksXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetStocksXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByValueXMLHttpPostIn" />
      <wsdl:output message="tns:GetStockDailyValuesByValueXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesByDateXMLHttpPostIn" />
      <wsdl:output message="tns:GetStockDailyValuesByDateXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all stock values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetStockDailyValuesXMLHttpPostIn" />
      <wsdl:output message="tns:GetStockDailyValuesXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published stock values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValuesXMLHttpPostIn" />
      <wsdl:output message="tns:GetLatestStockDailyValuesXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock on the given date.</documentation>
      <wsdl:input message="tns:GetStockDailyValueHttpPostIn" />
      <wsdl:output message="tns:GetStockDailyValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockDailyValueHttpPostIn" />
      <wsdl:output message="tns:GetLatestStockDailyValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified stock.</documentation>
      <wsdl:input message="tns:GetLatestStockValueHttpPostIn" />
      <wsdl:output message="tns:GetLatestStockValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified stock at the given time.</documentation>
      <wsdl:input message="tns:GetStockValueHttpPostIn" />
      <wsdl:output message="tns:GetStockValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified stock in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetStockValuesByDateTimeXMLHttpPostIn" />
      <wsdl:output message="tns:GetStockValuesByDateTimeXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns XML schema (XSD) in which all XML formatted index information is in.</documentation>
      <wsdl:input message="tns:GetIndicesXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetIndicesXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index that are in the given value interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByValueXMLHttpPostIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByValueXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesByDateXMLHttpPostIn" />
      <wsdl:output message="tns:GetIndexDailyValuesByDateXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all index values for given date as XML string.</documentation>
      <wsdl:input message="tns:GetIndexDailyValuesXMLHttpPostIn" />
      <wsdl:output message="tns:GetIndexDailyValuesXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns latest published index values as XML string.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValuesXMLHttpPostIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValuesXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index on the given date.</documentation>
      <wsdl:input message="tns:GetIndexDailyValueHttpPostIn" />
      <wsdl:output message="tns:GetIndexDailyValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the latest published value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexDailyValueHttpPostIn" />
      <wsdl:output message="tns:GetLatestIndexDailyValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the current value for the specified index.</documentation>
      <wsdl:input message="tns:GetLatestIndexValueHttpPostIn" />
      <wsdl:output message="tns:GetLatestIndexValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns the value for the specified index at the given time.</documentation>
      <wsdl:input message="tns:GetIndexValueHttpPostIn" />
      <wsdl:output message="tns:GetIndexValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method returns all values for the specified index in the given time interval as XML string.</documentation>
      <wsdl:input message="tns:GetIndexValuesByDateTimeXMLHttpPostIn" />
      <wsdl:output message="tns:GetIndexValuesByDateTimeXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuotesSoap" type="tns:StockQuotesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetStocksXMLSchema">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStocksXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByValueXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByDateXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValuesXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockDailyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestStockValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetStockValuesByDateTimeXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndicesXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByValueXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByDateXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValuesXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexDailyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetLatestIndexValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <soap:operation soapAction="http://www.gama-system.com/webservices/GetIndexValuesByDateTimeXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpGet" type="tns:StockQuotesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetStocksXMLSchema">
      <http:operation location="/GetStocksXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <http:operation location="/GetStockDailyValuesByValueXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <http:operation location="/GetStockDailyValuesByDateXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <http:operation location="/GetStockDailyValuesXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <http:operation location="/GetLatestStockDailyValuesXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <http:operation location="/GetStockDailyValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <http:operation location="/GetLatestStockDailyValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <http:operation location="/GetLatestStockValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <http:operation location="/GetStockValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <http:operation location="/GetStockValuesByDateTimeXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <http:operation location="/GetIndicesXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <http:operation location="/GetIndexDailyValuesByValueXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <http:operation location="/GetIndexDailyValuesByDateXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <http:operation location="/GetIndexDailyValuesXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <http:operation location="/GetLatestIndexDailyValuesXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <http:operation location="/GetIndexDailyValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <http:operation location="/GetLatestIndexDailyValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <http:operation location="/GetLatestIndexValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <http:operation location="/GetIndexValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <http:operation location="/GetIndexValuesByDateTimeXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpPost" type="tns:StockQuotesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStocksXMLSchema">
      <http:operation location="/GetStocksXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByValueXML">
      <http:operation location="/GetStockDailyValuesByValueXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesByDateXML">
      <http:operation location="/GetStockDailyValuesByDateXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValuesXML">
      <http:operation location="/GetStockDailyValuesXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValuesXML">
      <http:operation location="/GetLatestStockDailyValuesXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockDailyValue">
      <http:operation location="/GetStockDailyValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockDailyValue">
      <http:operation location="/GetLatestStockDailyValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestStockValue">
      <http:operation location="/GetLatestStockValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <http:operation location="/GetStockValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValuesByDateTimeXML">
      <http:operation location="/GetStockValuesByDateTimeXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndicesXMLSchema">
      <http:operation location="/GetIndicesXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByValueXML">
      <http:operation location="/GetIndexDailyValuesByValueXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesByDateXML">
      <http:operation location="/GetIndexDailyValuesByDateXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValuesXML">
      <http:operation location="/GetIndexDailyValuesXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValuesXML">
      <http:operation location="/GetLatestIndexDailyValuesXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexDailyValue">
      <http:operation location="/GetIndexDailyValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexDailyValue">
      <http:operation location="/GetLatestIndexDailyValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestIndexValue">
      <http:operation location="/GetLatestIndexValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValue">
      <http:operation location="/GetIndexValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValuesByDateTimeXML">
      <http:operation location="/GetIndexValuesByDateTimeXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuotes">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">WebService provides stock exchange information.</documentation>
    <wsdl:port name="StockQuotesSoap" binding="tns:StockQuotesSoap">
      <soap:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpGet" binding="tns:StockQuotesHttpGet">
      <http:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpPost" binding="tns:StockQuotesHttpPost">
      <http:address location="http://www.gama-system.com/webservices/stockquotes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>